* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 35px;
    padding: 10px;
    font-weight: 600;
    color: #0a0b13;
}

body {
    background-color: #f0f0f0;
}