
.bar-container {
    width: 100%;
    background-color: #ddd;
    margin-left: auto;
    z-index: 1;
}

.stat-container{
    
}

.stat-container p {
    margin-left: auto; /* Align text to the right */
    text-align: left; /* Align text within the paragraph to the right */
}

.skills {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    color: white;
    background-color: #04AA6D;
}

